body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .bgimg{
    background-image: url('./Images/Bild11.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 720px;
  }
  .imgsetting{
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .imgset{
    width: 100%;
    height: 100%;
  }
  .servicepart p {
    color: #6c757d
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }